.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.header {
  background: url(../images/header-background.jpg) center no-repeat;
  background-size: cover;
}

.modal-dialog {
    max-width: 1040px;
}

@media (max-width: 992px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar{
    transition: all 0.7s ease-in-out;
}

.download{
    background: url('../images/download-background.jpg') center center no-repeat;
    background-size: cover;
}

.map iframe{
left:0;
top:0;
height: 400px;
width: 100%;
border: none;
}


/* ...  CSS ... */


@media (max-width: 992px) {
  .navbar-collapse {
      display: flex !important;
      justify-content: center;
      flex-direction: row !important;
  }

  .navbar-nav {
      flex-direction: row !important;
  }

  .navbar-nav .nav-item {
      margin: 0 10px;
  }

  .navbar-toggler {
      position: relative;
      z-index: 2;
  }

  .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
  }
}
